{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Scam Detector</title>
  <link rel="stylesheet" href="{% static 'ml_model/style.css' %}">
</head>

<body>
  <div class="container">
    <!-- <h1>Catch The Phish</h1><br> -->
    <!-- <p>Enter email content below to check if it's a scam</p> -->
    <!---->
    <h1>Catch the Phish! 🎣</h1>
    <p>Is that email a little... *phishy*? Paste the content below and let's find out! </p>
    <form id="phishing-form" method="POST">
      {% csrf_token %}
      <textarea id="email-text" name="email-text" rows="1" cols="50" placeholder="Paste the email content here..."></textarea>
      <button type="submit">Analyze</button>
      </form>
  </div>


  <div class="container hidden result-container">
      <h1>Result</h1>
  </div>




    <script>
      // Get textArea element by ID
      const textarea = document.getElementById('email-text')
      const form = document.getElementById('phishing-form')
      
      // Add a keydown listener to the textarea
      textarea.addEventListener('keydown', (event) => {
        // Check if the key pressed is 'Enter' and not 'Shift + Enter'
        if(event.key === 'Enter' && !event.shiftKey){
          event.preventDefault();

          // Submit the form
          form.submit();
        }
      });
    </script>
</body>

</html>
